/.git/
/.vs/
/.vscode/


/ocelot/.vs/
/ocelot/.vscode/
/ocelot/bin/
/ocelot/obj/

/webapi/.vs/
/webapi/.vscode/
/webapi/bin/
/webapi/obj/

/webapi2/.vs/
/webapi2/.vscode/
/webapi2/bin/
/webapi2/obj/


